*{
  text-transform: none;
}

.HomeBody{
    max-width:100%;
    max-height:100%;
    position: relative;
    overflow: auto;
  } 
  
  #Menubar {
    width: 100%;
    background: #FCD19C;
  }
  
  .container-fluid {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0%;
    margin-bottom: 5px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: black;
  }
  
  .container-fluid p{
  
  position: absolute;
  color: #fff;
  bottom: 100px;
  text-align: center;
  
  }
  
  
  
  .form-control-dark {
    border-color: var(--bs-gray);
  }
  
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }



.Banner{
position: relative;
width: 100%;
height: 500px;
overflow: hidden;
}

.Banner img{
    width: 100%;
    height: auto;
    filter:brightness(50%);
  }

.Banner h3{
position:absolute;
bottom: 400px;
left: 430px;
color:floralwhite;
font-size:70px;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
word-spacing:2px;
letter-spacing:1px;
text-rendering: auto;
}

.Banner p{
position: absolute;
bottom: 100px;
font-size: 30px;
text-align: center;
color: #fff;
}


.Best-Place-Destinations-Head {
    position:relative;
  }
  
  .Best-Place-Destinations {
    position: relative;
    width: 50%;
    display:inline-flex;
  
  }
  
  .Places {
    position:relative;
    height: auto;
    width: 500px;
    display:inline;
    text-align: center;
    border-radius: 12px;
    margin: 50%;

  }
  
  .Places p {
    text-align: center;
  }
  
  .Places h2 {
    position: absolute;
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    border-radius: 12px;
    padding: 5px;
  }
  
  .Places img{
    width: 100%;
    height: 500px;
    border-radius: 12px;
  }
  
  .Places a {
    position: absolute;
    color: #ffff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: black;
    z-index: 1;
    right:0%;
    bottom: 0%;
  }
  
  .Places a:hover {
    background-color: #87CEEB;
    letter-spacing: 3px;
    transition: 0.5s;
  }