.Page-Main
{

}
.Page-img
{
    width: 100%;
    padding: 2%;
}
#overview-tabs{
    padding: 0 5%;
    
}
.thumbnail{
text-align: left;

}
body {
    background-color: blue
}

.container-m {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding:20px;
}

.card {
    background-color: #fff;
    padding: 15px;
    border: none;
    height: 250px;
    margin-top: 10px
}

.u-color {
    color: blue
}

.user-image img {
    border: 3px solid #00f;
    padding: 2px
}
