*{
  text-transform: none;

}

.HomeBody{
  max-width:100%;
  max-height:100%;
  position: relative;
  overflow: auto;
} 

#Menubar {
  width: 100%;
  height: auto;
  background: #FCD19C;
}

.container-fluid {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 0%;
  margin-bottom: 5px;
  display:inline-flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  overflow: hidden;
 
}

.container-fluid h3{

position: absolute;
color: #fff;
bottom: 400px;
font-size: 60px;
align-items: center;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.container-fluid p{

position: absolute;
color: #fff;
bottom: 150px;
text-align: center;
font-size: 30px;
align-items: center;

}

.container-fluid img{
  filter:brightness(40%);
}


.swiper-slide{
  position:relative;
}

.swiper-slide img { 
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
}

.swiper-slide figcaption {
  position:absolute; 
  bottom:0; 
  left:0
}




.form-control-dark {
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}


.featured-Places-Head {
  position: sticky;
  background: #87CEEB;
}

.FeaturedPlaces {
  position: relative;
  width: 100%;
  height: 550px;
  display: flex;
  justify-content: space-around;

}

.Places {
  position: relative;
  height: auto;
  width: 500px;
  display: flex;
  text-align: center;
  border-radius: 12px;
  background-color: #FFC0CB;
  margin: 5px;
  overflow: auto;
  justify-content: space-around;
}
.Places .div1{
  flex: left;
  width: 45%;
}
.Places .div2{
  flex: right;
  width: 45%;
}

.Places p {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.Places h5 {
  color: black;
  font-size: 25px;
  letter-spacing: 1px;
  border-radius: 12px;
  padding: 0px;
  font-family: 'Times New Roman', Times, serif;
}

.Places img{
  width: 100%;
  height: 300px;
  border-radius: 12px;
}

.Places a {
  
  text-decoration: none;
  position: absolute;
  color: #ffff;
  font-weight: bold;
  font-size: 18px;
  border-radius: 20px;
  padding: 10px 20px;
  background-color: black;
  bottom: 2%;
  right:35%;
}

.Places a:hover {
  background-color: #87CEEB;
  letter-spacing: 3px;
  transition: 0.5s;
}